<%= form_with(model: tortuga) do |form| %>
  <% if tortuga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tortuga.errors.count, "error") %> prohibited this tortuga from being saved:</h2>

      <ul>
        <% tortuga.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido %>
  </div>

  <div class="field">
    <%= form.label :edad %>
    <%= form.number_field :edad %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
