<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @angelitopro.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @angelitopro.apellido %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @angelitopro.edad %>
</p>

<p>
  <strong>Email:</strong>
  <%= @angelitopro.email %>
</p>

<%= link_to 'Edit', edit_angelitopro_path(@angelitopro) %> |
<%= link_to 'Back', angelitopros_path %>
